ul {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--dark-slate-grey);
}

li img {
  margin-right: 1rem;
}
