.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.signup-form-label {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--dark-slate-grey);
}

.signup-form-input {
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid var(--ligth-grey);
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: var(--dark-slate-grey);
  transition: background-color 0.3s ease;
}

.signup-form-input.input-error {
  border-color: hsl(4, 100%, 67%); /* Rouge pour l'état d'erreur */
  background-color: #ffecec;
  color: hsl(4, 100%, 67%);
}

.error-message {
  color: hsl(4, 100%, 67%);
  font-size: 12px;
  margin: 0;
  position: absolute;
  right: 0.5rem;
  font-weight: 700;
}
.signup-form-btn {
  background-color: var(--dark-slate-grey);
  border: none;
  padding: 20px 0px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  text-transform: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.signup-form-btn:hover {
  /* background-color: transparent; */
  background-image: linear-gradient(
    to right,
    hsl(-16, 100%, 61%),
    hsl(4, 100%, 74%),
    hsl(30, 100%, 48%)
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
