.signup-image_mob {
  width: 100%;
  height: 100%;
}

.signup-image_desk {
  display: none;
}

@media (min-width: 900px) {
  .signup-image_mob {
    display: none;
  }
  .signup-image_desk {
    display: block;
    width: 100%;
  }
}
