/********************MOBILE FIRST**************************/

.signup-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  min-height: 80vh;
  background-color: var(--white);
}

.signup-preview {
  grid-row: 1;
  grid-column: 1;
}

.signup-content {
  grid-row: 2;
  grid-column: 1;
  padding: 1rem;
}

.signup-footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--dark-slate-grey);
  padding-bottom: 2rem;
}

/* Tablet layout */
@media (min-width: 768px) {
  .signup-container {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    overflow: hidden;
  }

  /* Desktop layout */
  @media (min-width: 900px) {
    .signup-container {
      grid-template-areas: 'content preview';
      grid-template-columns: 6fr 6fr;
      max-width: 1000px;
      padding: 1px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
    }
    .signup-preview {
      grid-area: preview;
      padding: 2rem 2rem 0 1rem;
    }

    .signup-content {
      grid-area: content;
      padding: 7rem 1rem 0rem 4rem;
    }

    .signup-footer {
      text-align: left;
      padding: 0 0 1rem 2rem;
    }
  }
}
