/********************MOBILE FIRST**************************/

.signup-container {
  display: grid;
  grid-template-areas:
    'preview'
    'content'
    'footer footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  min-height: 80vh;
  background-color: var(--white);
}

.signup-preview {
  grid-row: 1;
  grid-column: 1;
}

.signup-content {
  grid-row: 2;
  grid-column: 1;
  padding: 1rem;
}

.signup-footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--dark-slate-grey);
}

/* Tablet layout */
@media (min-width: 768px) {
  .signup-container {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    overflow: hidden;
  }

  /* Desktop layout */
  @media (min-width: 900px) {
    .signup-container {
      grid-template-areas:
        'content preview'
        'footer footer';
      grid-template-columns: 2fr 2fr;
      grid-template-rows: auto auto;
      max-width: 1000px;
      padding: 1px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
    }
    .signup-preview {
      grid-area: preview;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding: 1rem;
    }

    .signup-content {
      grid-area: content;
      padding: 1rem;
    }

    .signup-footer {
      grid-area: footer;
      padding: 2rem;
    }
  }
}
