/********************MOBILE FIRST**************************/

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Clé pour l'espacement pour la version mobile */
  min-height: calc(100vh - 2rem); /* Prend en compte le padding du modale */
  padding: 5rem 0rem 1rem;
  background-color: var(--white);
}

.success-icon {
  width: 65px;
  height: 65px;
  margin-bottom: 2.5rem;
}

.success-heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  font-weight: 700;
  color: var(--dark-slate-grey);
}

@media (min-width: 768px) {
  .success-container {
    min-height: unset;
    padding: 2rem;
  }

  .success-content {
    padding-top: 0;
  }

  .success-heading {
    font-size: 3rem;
  }
}
